<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Biarkan file statis (gambar, css, js) dibaca dari folder public/
    RewriteRule ^(assets|_build\.js|_inline-gl\.js|hero-preview\.png|sitemap\.xml)(.*)$ public/$1$2 [L]

    # Hentikan proses jika ini adalah file nyata (seperti index.php)
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Kirim SEMUA request halaman ke file index.php proxy kita
    RewriteRule ^ index.php [L]
</IfModule>