<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public/direction-a-motion/public/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>